
<div class="container" style= "width: 1300px; !important">
  <div style="margin-top:3%;">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">View/Edit Timesheet</div>
        <div class="panel-body">
          <div class="col-md-12">
            <div class="col-md-4">
              <span><b>Timesheet Status:</b></span> Not Submitted
            </div>
            <div class="col-md-4">
              <span>Aug 7, 2017 <i>to</i> Aug 13, 2017</span>
            </div>
            <div class="col-md-4">
              <span><b>Approved By:</b></span> Williams J
            </div>
          </div>

          
        <div class="col-md-12" style="margin-top:2%">
           <div class="col-md-4">
            <select class="style-select">
              <option *ngFor="let item of weeks" [value]="item.startDate" >
                {{item.name}}
              </option>                  
            </select>

          </div>
          <div class="col-md-8"></div>
        </div>
         <div class="col-md-12">
           <form ng-submit="()">
            <table class="table">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Activiy</th>                    
                    <td  *ngFor=" let day of days" class="col-md-12">
                      {{day}}
                    </td>
                    <td>Total</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let week of weeklyTimeEntry;let i = index">   
                    <td>
                       <select class="style-select">
                        <option *ngFor="let item of listProjects" [value]="item.id" >
                          {{item.name}}
                        </option>                  
                      </select></td>
                    <td>
                       <select class=" style-select">
                        <option *ngFor="let item of listActvity" [value]="item.id" >
                          {{item.name}}
                        </option>                  
                      </select></td>
                    <td>
                        <input type="time" class="input-time" name="day1hrs{{i}}" [(ngModel)]="week.day1hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day2hrs{{i}}" [(ngModel)]="week.day2hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day3hrs{{i}}" [(ngModel)]="week.day3hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day4hrs{{i}}" [(ngModel)]="week.day4hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day5hrs{{i}}" [(ngModel)]="week.day5hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day6hrs{{i}}" [(ngModel)]="week.day6hrs" ></td>
                    <td>
                        <input type="time" class="input-time" name="day7hrs{{i}}" [(ngModel)]="week.day7hrs" ></td>
                    <td>
                        <input type="text" disabled class="input-time" name="tHrsForProject{{i}}" [(ngModel)]="week.tHrsForProject" ></td>
                  </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td></td>
                  <td>Total Hours</td>
                  <td>9:00</td>
                  <td>9:00</td>
                  <td>9:00</td>
                  <td>9:00</td>
                  <td>9:00</td>
                  <td>00:00</td>
                  <td>00:00</td>
                  <td>45:00</td>
                </tr>
              </tfoot>
            </table>
            </form>
            <div class="form-group">
                <!-- <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove"> -->
                <input   class="btn cld_contact_button cld_contact_button_width" (click)="addTimeSheet()" value="Add New">
                <input   class="btn cld_contact_button cld_contact_button_width" (click)="addTimeSheet()" value="Save For Later">
                <input   class="btn cld_contact_button cld_contact_button_width" (click)="addTimeSheet()" value="Submit">
            </div>
         </div>
         
        </div>
        
      </div>
    </div>
  </div>
</div>