
<div class="row heading" style="margin-top: 0px;">
    <div class="col-md-5 col-xs-12" style="margin-top: 8px;padding-left:0px;">
        <span></span>
    </div>
</div>
<section>
<div class="container">
  <h2>Employee Table</h2>
  <h4>Test employee related information</h4>            
  <table class="table table-responsive" class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
</section>