body {
font: 14px  Mukta-ExtraLight !important;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

}
.main
{
	 width		:940px
	;height		:Auto
	;margin		:0 auto
	/*;border		:1px solid black*/
}
.MainContent
{
    position: relative;
    width: 940px;
    margin: auto;
    margin-top: 10px;    
	border-bottom:none;
  
}
.Config_Settings_Container
{
    width: auto;
    position: relative;
    height: auto;
}

.content_Rel
{
    position:relative;    
}

.header_Controls_Container
{
    position: relative;
    height: 50px;
}
 .header_Controls
{
    position: relative;
    width: 380px;
    height: 45px;
    float: left;
}
.abs_Controls
{
    font: 14px  Mukta-ExtraLight !important;
    position:absolute;
   top:5px;
   
}
 
.header_Label_Font
{
   /* font-size: 16px;
    font-weight: bold;*/
  
  position:relative;
  /*margin-left:300px;*/
  margin-left:15px;
}
.Grid_Header_Font
{
	/* font-size: 16px;
    font-weight: bold;*/
  
}
.header_lbl_BG
{
	 font-size: 16px;
    font-weight: bold;
   position :relative;
  margin-left:10px;
}
.Content_title
{
    height: 30px;
    background-color: ActiveBorder;
}
.Content_FootrConfig
{
    height: 30px;
    background-color: #F0F0F0;
}
.Wrk_Hrs_Container
{
    position: relative;
    width: auto;
}
.Up_Lw_Body
{
    height:50px;
    position:relative;
}
.normal_control_div
{
    font: 14px  Mukta-ExtraLight !important;
	 height: 30px;
    position:relative;
}
.normal_control_Auto
{
	 height: 50px;
    position:relative;
}	

.HM_Container
{
    position: relative;
    width: auto;
}
.Content_Container
{
	 position: relative;
    width: auto;
    height:auto;
}
.TempIdDet_Header_Body_Footer_Pos
{
	position:relative;
	height:auto;
}


.TempIdDet_HeaderTab
{
	
	 height: 30px;
    background-color: ButtonFace;
}
.Header_Title_BG
{
	height: 30px;
    /*width:188px !important;*/
    background-color: #B4B4B4;
}
.TempIdDet_Body_Up
{
	position:relative;
	height:100px;
	
}
.TempIdDet_Body_Up1
{
    position:relative;
	height:50px;
}
.TempIdDet_Body_Lw
{
	
	position:relative;
	height:400px;
	height:auto;
	
}
.TempIdDet_Footer_Up
{
	position:relative;
height:30px;

	
}
.TempIdDet_Footer_Lw
{
	position:relative;
	height:35px;
	 background-color: ButtonFace;

}
.TempIdDet_Up_Left
{
	position: relative;
    
    height: 45px;
    float: left;
   
}

.abs_TempIdDet_Controls
{
	 position:absolute;
     top:5px;

}

.Up_Footer_Left
{
	position:relative;
	float:left;
	
	width:200px;
}
.Up_Footer_Right
{
	position:relative;
	float:right;
	width:580px;
}


.TempIdDet_SelEmpLabel
{
	height:20px;
	width:500px;
	float:left;
}
.TempIdDet_SelEmpList
{
position:relative;
	height:50px;
	float:left;
	width:500px;

}
.Ab_Left_Lbl
{
    font: 14px  Mukta-ExtraLight !important;
	left:20px;
	height: 14px;
}
.Ab_Right_Lbl
{
	left:150px;
}
.Ab_Right_Lbl_Rfv
{
    font: 14px  Mukta-ExtraLight !important;
	left:150px;
}
.Ab_Grid_Add_New
{
	 left:700px;
}
.rfvTxtBx
{
	left:360px;
}
.Grid_Header_Forecr
{
	color:Black;
	 
}
.FootrBg
{
    height: 30px;
    position:relative;
     
}


/******************Task.aspx******************/


    .content10
    {
      	   position:relative;
            margin:auto;
 	        width:900px;
         	height:auto;
            background-color:#D8D8D8;
            overflow :hidden;
            
            font-size :14px;
               
            

}
    .content11
    {
    	position:relative;
    	height:30px;
    	font-size:20px;
    	
    	
    }
    .content12
    {
    	position:relative;
    	margin-left:10px;
    	width:200px;
    	float:left;
    	min-height:25px;
    	margin-top:5px;
    
    	
    }
    .content13
    {
    	position:relative;
    	width:525px;
    	min-height:25px;
        float:left;
        margin-top:5px;
    	
    }
    .c1
    {
    	color:Red;
    }
    .classRadWindow
        
     {
	    position:relative;
	    background-color: #BDBDBD;
     }
         
     .cld_logo{
    width: 180px;
    height: 36px;
}

.cld_header_logo{ /*Header Logo*/
    float: left;
    height: 100px;
    width: 220px;
    background-color: #DA1A32;
    position: absolute;
    top: 0px;
    padding: 35px 0px;
    z-index: 4;
    cursor: pointer;
    text-align: center;
}
    
/* .cld_header_logo_small a[href="Home.aspx"] { 
    float: left;
    height: 67px;
    width: 210px;
    background-color: #DA1A32;
    position: absolute;
    top: 3px;
    padding-top: 20px;
    padding-left: 15px;
    z-index: 4;
    cursor: pointer;
} */

.cld_header_logo a,
.cld_header_logo a:active,
.cld_header_logo a:hover,
.cld_header_logo a:focus{ /*Header logo link*/
    /*border: none;
    text-decoration: none;
    display: inline-block;*/
}

.cld_header_logo_small a,
.cld_header_logo_small a:active,
.cld_header_logo_small a:hover,
.cld_header_logo_small a:focus{ /*Header logo link*/
    /*border: none;
    text-decoration: none;*/
}

.cld_header_logo_small_career a,
.cld_header_logo_small_career a:active,
.cld_header_logo_small_career a:hover,
.cld_header_logo_small_career a:focus{ /*Header logo link*/
    /*border: none;
    text-decoration: none;*/
}

.cld_header_logo::after { /*Header logo slanted*/
    content: "";
    background: #DA1A32;
    height: 40px;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
}

.cld_header_logo_small a[href="Home.aspx"]::after { /*Header logo slanted*/
    content: "";
    background: #DA1A32;
    height: 40px;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
}

.cld_header_logo::after { /*Header logo slanted*/
    bottom: -15px;
}

.cld_header_logo_small a[href="Home.aspx"]::after { /*Header logo slanted*/
    bottom: -21px;
}

.cld_header_logo span{
    display: block;
    color: #fff;
    font-size: 41px;
}
.cld_header_logo_small span{
    display: block;
    color: #fff;
    font-size: 41px;
}
.cld_active_header{ /*header container*/
	padding: 25px 25px 20px 25px;
	overflow: hidden;;
}

.cld_active_header_logo{
	float: left;
}

.cld_active_header_logo img{/*header logo img*/
	width: 220px;
	height: 100px;
}

.cld_active_logout_section{ /*logout section container*/
	float: right;
	position: relative;
}

.cld_active_logout_section span{
	display: block;
}

span.cld_active_logout_name{
	font-weight: bold;
}

span.cld_active_logout_text{
	color: #009BEA;
	cursor: pointer;
}
.cld_header_list{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 34px;
    padding-bottom: 0px;
    cursor: pointer;
}
.cld_header_active {
    color: #DA1A32 !important;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/

.cld_contact_button {
    border-radius: 0px;
    width: 100%;
    height: 46px;
    /* margin-top: 15px; */
    background-color: #DA1A32;
    color: #fff;
}
.cld_contact_button_width {
    width: 12% !important;
}

.cld_about_tab {
    height: auto;
    /* max-width: 1293px; */
    margin: auto;
}

.cld_service_cl01 {
     max-width: 1197px; 
    padding: 0px 15px;
    /* min-height: 580px; */
    position: relative;
    margin: auto;
    padding-top: 14px;
    z-index: 2;
}

.cld_service_cl01 .nav-tabs>li:first-child {
    margin-left: 0px;
}
.cld_about_tab .nav-tabs li:first-child {
    margin-left: 0px;
}
.cld_service_cl01 .nav-tabs>li {
    /* margin-bottom: 0px; */
    /* margin: 0px 10px; */
    margin-right: 4px;
    /* border: 1px solid #AAA; */
    border-bottom: none;
    height: 34px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cld_service_cl01 .nav-tabs>li.active>a {
    top: -1px;
    position: relative;
    background-color: #DA1A32;
    z-index: 123;
    height: 34px;
    color: #fff !important;
}

.cld_about_tab .nav-tabs li a {
    font-weight: bold;
}

.cld_service_cl01 .nav-tabs>li a, .cld_service_cl01 .nav-tabs>li a:focus {
    border-bottom: none;
    box-shadow: none;
    /* padding-bottom: 13px; */
}

.cld_service_cl01 .nav-tabs>li a {
    padding: 5px 5px;
    font-size: 14px;
}
.cld_logo{
    width: 180px;
    height: 36px;
}

.cld_header_logo span{
    display: block;
    color: #fff;
    font-size: 41px;
}
.cld_header_logo_small span{
    display: block;
    color: #fff;
    font-size: 41px;
}
.cld_header{ /*Header */
    max-width: 1210px;
    padding: 0px 15px;
    padding-left: 23px;
    margin: auto;
    padding-top: 35px;
    position: relative;    
}

.cld_logo{
    width: 180px;
    height: 36px;
}

.cld_header_logo{ /*Header Logo*/
    float: left;
    height: 100px;
    width: 220px;
    background-color: #DA1A32;
    position: absolute;
    top: 0px;
    padding: 35px 0px;
    z-index: 4;
    cursor: pointer;
    text-align: center;
}

.cld_header_logo_small { /*Header Logo for nonhome page*/
    float: left;
    height: 67px;
    width: 180px;
    background-color: #DA1A32;
    position: absolute;
    top: 0px;
    padding-top: 20px;
    padding-left: 15px;
    z-index: 4;
    cursor: pointer;
}

.cld_header_logo a,
.cld_header_logo a:active,
.cld_header_logo a:hover,
.cld_header_logo a:focus{ /*Header logo link*/
    border: none;
    text-decoration: none;
    display: inline-block;
}

.cld_header_logo_small a,
.cld_header_logo_small a:active,
.cld_header_logo_small a:hover,
.cld_header_logo_small a:focus{ /*Header logo link*/
    border: none;
    text-decoration: none;
}

.cld_header_logo_small_career a,
.cld_header_logo_small_career a:active,
.cld_header_logo_small_career a:hover,
.cld_header_logo_small_career a:focus{ /*Header logo link*/
    border: none;
    text-decoration: none;
}

.cld_header_logo::after { /*Header logo slanted*/
    content: "";
    background: #DA1A32;
    height: 40px;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
}

.cld_header_logo_small ::after { /*Header logo slanted*/
    content: "";
    background: #DA1A32;
    height: 40px;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
}

.cld_header_logo::after { /*Header logo slanted*/
    bottom: -15px;
}

.cld_header_logo_small ::after { /*Header logo slanted*/
    bottom: -21px;
}
.cld_header nav a {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 34px;
    padding-bottom: 0px;
}
/* a, a:active, a:focus, a:hover {
    outline: none;
} */

.style-select{
    width: 300px !important;
    background-color: rgba(0, 150, 136, 0.18) !important;
}
tr:nth-child(even){background-color: #f2f2f2 !important}






