<div class="row">
    <div class="col-md-10 col-xs-10">
        <div class="form-group row">
            <div class="col-md-4 col-xs-12 form-control-label text-md-right">
                <select [(ngModel)]="selectedEmployee" class="form-control" (change)="changeEmployee(selectedEmployee)"> 
                    <option *ngFor="let emp of emplst" id="ddlEmp" [ngValue]="emp">{{emp.FirstName}}</option>                    
                </select>
            </div>
            <div class="col-md-7 col-xs-12">
                <input type="submit" class="btn cld_contact_button cld_contact_button_width" style="padding-top:0px !important;" (click)="AddEmployee(this.ddlEmployeeID)" value="Add">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rec of assgnmemlst">
                <td>
                   {{rec.EmployeeName}}
                </td>
                <td>
                    Active
                </td>
            </tr>            
        </tbody>
    </table>
</div>