<div class="row heading" style="margin-top: 0px;">
    <div class="col-md-5 col-xs-12" style="margin-top: 8px;padding-left:0px;">
        <span></span>
    </div>
</div>
<section>
    <div class="container">
        <div class="cld_service_cl01 cld_about_tab">
            <ul class="nav nav-tabs">
                <li [ngClass]="{ 'active': tab1}">
                    <a class="cld_header_list" data-toggle="tab" (click)="onTabClick(0)">General Info</a>

                </li>
                <li [ngClass]="{ 'active': tab2}">
                    <a class="cld_header_list" data-toggle="tab" (click)="onTabClick(1)">Member Assignment</a>

                </li>
                <li [ngClass]="{ 'active': tab3}">
                    <a class="cld_header_list" data-toggle="tab" (click)="onTabClick(2)">Task</a>

                </li>
                <li [ngClass]="{ 'active': tab4}">
                    <a class="cld_header_list" data-toggle="tab" (click)="onTabClick(3)">Client Info</a>
                </li>
            </ul>
        </div>
        <div class="widget-body">
            <div *ngIf ="tab1">
            <form class="form-horizontal" role="form" [formGroup]="projectForm" style="margin-left:4%;padding-top:2%;">
                <div class="row">
                    <div class="col-md-10 col-xs-10">
                        <div style="width:100%;">
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Project Name:</label>
                                <div class="col-md-7 col-xs-12">
                                    <input maxlength="100" type="text" id="normal-field" [(ngModel)]="project.name" formControlName="name" [ngClass]="!projectForm.controls['name'].valid && !isPageLoad ? 'required-val':''"
                                        class="form-control" placeholder="Project name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Status:</label>
                                <div class="col-md-7 col-xs-12">
                                    <select class="form-control">
                                    <option value='0'>Active</option>
                                    <option value='1'>InActive</option>
                                    <option value='2'>Hold</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Manager:</label>
                                <div class="col-md-7 col-xs-12">
                                    <input maxlength="100" type="text" id="normal-field" [(ngModel)]="project.manager" formControlName="name" [ngClass]="!projectForm.controls['manager'].valid && !isPageLoad ? 'required-val':''"
                                        class="form-control" placeholder="Manager">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Type:</label>
                                <div class="col-md-7 col-xs-12">
                                    <select class="form-control">
                                    <option value='bill'>Bill</option>
                                    <option value='internal'>Internal</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Start Date:</label>
                                <div class="col-md-7 col-xs-12">
                                    <p class="input-group">
                                        <input type="date" [(ngModel)]="project.startDate" class="filterDate iko_backoffice_cursor" formControlName="startDateTime">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">End Date:</label>
                                <div class="col-md-7 col-xs-12">
                                    <input type="date" [(ngModel)]="project.endDate" class="filterDate iko_backoffice_cursor" formControlName="endDateTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="normal-field" class="col-md-4 col-xs-12 form-control-label text-md-right">Project Note:</label>
                                <div class="col-md-7 col-xs-12">
                                    <textarea style="background-color:white;width:100%;height:200px" placeholder="Project Notes" id="normal-field" [(ngModel)]="project.projectNote"
                                        formControlName="projectNote">
                            </textarea>
                                </div>
                            </div>
                            <div class="clearfix" style="padding-right:50px;">
                                <div class="btn-toolbar pull-xs-right m-t-1">
                                </div>
                                <div class="btn-toolbar pull-xs-right m-t-1" style="padding-right:15px;">
                                    <input type="submit" class="btn cld_contact_button cld_contact_button_width" (click)="saveProject()" value="SAVE">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>  
            </div>          
            <div *ngIf ="tab2" id="divassignmanagement" style="margin-left:4%;padding-top:2%;">
            <assign-management></assign-management>
            </div>
        </div>
    </div>
</section>